body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.port {
    color: #0011ff9f;
}

.clr-o {
    color: #d30000e1;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 20px 65px;
}

.half-width img{
    width: 80%;
}

.hire-btn {
    text-decoration: none;
    background-image: linear-gradient(#cf7310, #690469);
    color: #fff;
    padding: 6px 30px;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    
}